################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BusinessLib/bin/Debug/net6.0
/BusinessLib/obj
/ConsoleApp/obj
/ConsoleApp/bin/Debug/net6.0
/WebApi/obj
/WebApi/bin/Debug/net6.0
/Tests/bin/Debug/net6.0
/Tests/obj
